[loggers]
keys=root, ngrok

[logger_root]
level=DEBUG
handlers=console

[logger_ngrok]
level=DEBUG
qualname=ngrok
handlers=file_ngrok

###########################################################

[handlers]
keys=console, file_ngrok

[handler_console]
class=StreamHandler
args=(sys.stdout,)
formatter=form_default

[handler_file_ngrok]
class=handlers.RotatingFileHandler
args=('/var/log/ngrok/ngrok.log', 'a', 10*1024*1024, 10)
formatter=form_default

###########################################################

[formatters]
keys=form_default

[formatter_form_default]
format=%(asctime)s %(filename)s [func:%(funcName)s] [line:%(lineno)d] %(levelname)s: %(message)s
datefmt=%a, %d %b %Y %H:%M:%S